<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="loggingSettings" 
             type="UserServiceLibrary.Configuration.LoggingSettings, UserServiceLibrary"/>
    <section name="userService" 
             type="UserServiceLibrary.Configuration.UserServiceSettings, UserServiceLibrary"/>
    <section name="userServiceStorage" 
             type="UserServiceLibrary.Configuration.UserServiceStorageSettings, UserServiceLibrary"/>
  </configSections>
  <loggingSettings isEnabled ="true"/>
  <userServiceStorage fileName ="storage.xml"/>
  <userService>
    <master id="0" address="127.0.0.1" port="5000"/>
    <slaves>
      <slave id="1" address="127.0.0.1" port="5001"/>
      <slave id="2" address="127.0.0.1" port="5002"/>
    </slaves>
  </userService>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>


